/* index page starts  */



   /* index page starts  */


    /* Banner Section */
    .banner {
        background: url('https://as1.ftcdn.net/v2/jpg/07/59/71/60/1000_F_759716062_EG01gkOAc62f3Iv7hbQL9KLRLqHbUCRn.jpg') no-repeat center center/cover;
        color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
        position: relative;
        /* Relative positioning for animations */
        overflow: hidden;
        opacity: 0;
        /* Initial opacity for animation */
        animation: fadeIn 1s ease forwards, slideIn 0.5s ease forwards;
        /* Multiple animations */
    }

    /* Fade-in animation */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* Slide-in animation */
    @keyframes slideIn {
        0% {
            transform: translateY(-50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .banner-content {
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 8px;
        animation: fadeIn 1s ease 0.5s forwards;
        /* Delay added */
        transform: translateY(50px);
        /* Start below the screen */
        opacity: 0;
        /* Initial opacity for animation */
        transition: transform 0.5s ease, opacity 0.5s ease;
        /* Smooth transition for transform and opacity */
    }

    /* Add hover effect on banner content */
    .banner-content:hover {
        transform: translateY(0);
        /* Move to original position */
        opacity: 1;
        /* Fade in */
    }

    /* Button Animation */
    .button {
        background: #00bcd4;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background 0.3s, transform 0.3s;
        /* Transition for scale effect */
    }

    .button:hover {
        background: #0097a7;
        transform: scale(1.05);
        /* Scale effect */
    }

    /* Additional animations for text */
    .banner h1 {
        animation: slideIn 1s ease forwards;
        /* Slide in for heading */
        transform: translateY(-30px);
        /* Start higher */
        opacity: 0;
        /* Initial opacity */
        animation-delay: 0.5s;
        /* Delay for heading */
    }

    .banner p {
        animation: slideIn 1s ease forwards;
        /* Slide in for paragraph */
        transform: translateY(30px);
        /* Start lower */
        opacity: 0;
        /* Initial opacity */
        animation-delay: 0.8s;
        /* Delay for paragraph */
    }



    /* Description Section Styles */
    .description {
        padding: 50px 20px;
        background-color: #f4f4f4;
        /* Light background for contrast */
        text-align: center;
        /* Center-align text */
        position: relative;
        /* For positioning effect */
        overflow: hidden;
        /* Prevents overflow issues */
    }

    .description-content {
        background-color: white;
        /* White background for content */
        padding: 30px;
        border-radius: 10px;
        /* Rounded corners */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        /* Soft shadow for depth */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        /* Smooth transition for effects */
        max-width: 800px;
        /* Limit width for larger screens */
        margin: 0 auto;
        /* Centering the content */
        opacity: 0;
        /* Start as hidden for animation */
        transform: translateY(20px);
        /* Initial position for slide-in effect */
        animation: fadeInUp 0.5s forwards;
        /* Animation on load */
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .description img {
        width: 100%;
        max-width: 600px;
        /* Maximum width for images */
        height: auto;
        /* Maintain aspect ratio */
        border-radius: 10px;
        /* Rounded corners for image */
        margin-bottom: 20px;
        /* Spacing below image */
        transition: transform 0.3s ease;
        /* Smooth scaling effect */
    }

    .description img:hover {
        transform: scale(1.05);
        /* Slightly enlarge on hover */
    }

    .description h2 {
        font-size: 2rem;
        /* Larger font size for headings */
        margin: 20px 0;
        /* Spacing around heading */
        color: #333;
        /* Darker color for better visibility */
    }

    .description p {
        font-size: 1rem;
        /* Standard font size for paragraphs */
        color: #555;
        /* Slightly lighter color for text */
        line-height: 1.6;
        /* Better line spacing */
        margin: 0;
        /* Remove default margin */
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
        .description {
            padding: 30px 10px;
            /* Adjust padding for smaller screens */
        }

        .description-content {
            padding: 20px;
            /* Adjust padding for smaller screens */
        }

        .description h2 {
            font-size: 1.5rem;
            /* Smaller heading on mobile */
        }

        .description p {
            font-size: 0.9rem;
            /* Smaller paragraph on mobile */
        }
    }



    .offerings {
    background-color: #ededed; /* Light background for contrast */
    padding: 50px 20px;
    text-align: center;

}

.offerings h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
}

.offering-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three items per row */
    gap: 20px;
    
}

.offering-item {
    background-color: #ffffff; /* White background for offerings */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s;
}

.offering-item:nth-child(odd) {
    background-color: #eaf6ff; /* Slightly different color for odd items */
}

.offering-item:nth-child(even) {
    background-color: #f9f9f9; /* Slightly different color for even items */
}

.offering-item:hover {
    transform: translateY(-5px);
}

.offering-icon {
    font-size: 3rem;
    color: #3498db; /* Icon color */
    margin-bottom: 15px;
}

.offering-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #34495e; /* Heading color */
}

.offering-item p {
    font-size: 1rem;
    color: #7f8c8d; /* Text color */
}

/* Ensure the height of each offering item is consistent */
.offering-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Make all items the same height */
}











 /* Why Choose Us Section Styles */
 .why-us {
        padding: 50px 20px; /* Adequate padding */
        background-color: #f8f9fa; /* Light background for contrast */
        text-align: center; /* Center-align text */
        border-radius: 10px; /* Rounded corners for a modern look */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    }

    .why-us h2 {
        font-size: 2.5rem; /* Large font size for the heading */
        color: #333; /* Dark color for better visibility */
        margin-bottom: 30px; /* Spacing below the heading */
    }

    .why-us ul {
        list-style: none; /* Remove default list styling */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
        font-size: 1.2rem; /* Increase font size for readability */
        color: #555; /* Dark grey for text */
    }

    .why-us li {
        margin-bottom: 20px; /* Spacing between list items */
        position: relative; /* Positioning for the bullet */
        padding-left: 30px; /* Space for custom bullet */
    }

    .why-us li::before {
        content: ''; /* Custom bullet */
        position: absolute; /* Position it absolutely */
        left: 0; /* Align to the left */
        top: 50%; /* Center vertically */
        transform: translateY(-50%); /* Adjust vertical position */
        width: 10px; /* Bullet size */
        height: 10px; /* Bullet size */
        border-radius: 50%; /* Circular bullet */
        background-color: #007BFF; /* Primary color for the bullet */
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
        .why-us {
            padding: 30px 15px; /* Adjust padding for smaller screens */
        }

        .why-us h2 {
            font-size: 2rem; /* Adjust heading size for smaller screens */
        }

        .why-us ul {
            font-size: 1rem; /* Adjust font size for list items */
        }
    }







 /* Section Styles */
 .why-choose-us {
        background-color: #f9f9f9; /* Light background */
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: 20px 0;
    }

    .why-choose-us h2 {
        font-size: 28px;
        color: #2c3e50; /* Dark text */
        text-align: center;
        margin-bottom: 10px;
    }

    .why-choose-us p {
        color: #34495e; /* Slightly lighter text */
        text-align: center;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .why-choose-columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .left-column, .right-column {
        width: 48%;
        margin-bottom: 20px;
    }

    .box {
        background-color: #ffffff; /* White background for boxes */
        border: 2px solid #3498db; /* Accent color */
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .box:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .driving-business-box {
        background-color: #e7f0f7; /* Light blue background */
        padding: 20px;
        border-radius: 10px;
        margin-top: 30px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .driving-business-box h3 {
        color: #2980b9; /* Dark blue */
        margin-bottom: 10px;
    }

    .driving-business-box img {
        border-radius: 10px;
        margin: 20px 0;
        max-width: 100%;
        height: auto;
    }

    .key-benefits {
        background-color: #ffffff; /* White background */
        border: 2px solid #3498db; /* Accent color */
        border-radius: 5px;
        padding: 15px;
        margin-top: 20px;
        text-align: left;
    }

    .key-benefits h3 {
        color: #2980b9; /* Dark blue */
    }

    .key-benefits p {
        color: #34495e; /* Slightly lighter text */
    }

    @media (max-width: 768px) {
        .left-column, .right-column {
            width: 100%;
        }
    }

/*  index page ends*/

/* about page starts */


    .nis-about-us {
        padding: 40px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin: 20px 0;
    }

    .nis-banner {
        text-align: center;
        margin-bottom: 40px;
    }

    .nis-banner-headline {
        font-size: 24px;
        color: #333;
        transition: color 0.3s ease;
    }

    .nis-banner-subheadline {
        font-size: 20px;
        color: #555;
        transition: color 0.3s ease;
    }

    .nis-banner-description {
        font-size: 16px;
        color: #777;
    }

    .nis-banner-images {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .nis-banner-images img {
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    .nis-banner-images img:hover {
        transform: scale(1.05);
    }

    .nis-company-profile {
        max-width: 800px;
        margin: 0 auto;
        text-align: justify;
    }

    .nis-profile-box {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .nis-profile-box:hover {
        transform: translateY(-5px);
    }

    .nis-transformation-quote {
        text-align: center;
        margin-top: 40px;
    }

    .nis-transformation-quote h2 {
        font-size: 24px;
        color: #333;
    }

    .nis-transformation-quote img {
        width: 100%;
        max-width: 600px;
        border-radius: 8px;
        margin: 20px 0;
        transition: transform 0.3s ease;
    }

    .nis-transformation-quote img:hover {
        transform: scale(1.05);
    }

    .nis-transformation-box {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .nis-transformation-box:hover {
        transform: translateY(-5px);
    }

    .nis-transformation-box ul {
        list-style: none;
        padding: 0;
    }

    .nis-transformation-box li {
        margin: 10px 0;
        font-size: 16px;
        color: #555;
        transition: color 0.3s ease;
    }

    .nis-transformation-box li:hover {
        color: #007bff;
    }

    /* about page starts */


    /* services page start */


    /* Secondary Header */
    header.secondary-navbar {
        background: white;
        color: rgb(16, 6, 6);
        padding: 1rem 0;
        text-align: center;
        position: sticky;
        top: 60px;
        z-index: 999;
        transition: background-color 0.3s ease;
        border-bottom: 1px solid #ddd;
    }

    .secondary-navbar ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .secondary-navbar ul li {
        margin: 0 1rem;
    }

    .secondary-navbar a {
        color: #100202;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .secondary-navbar a:hover {
        color: #4CAF50;
    }

    /* Boxed Sections */
    .service-section { /* Changed class name here */
        max-width: 1200px;
        margin: 2rem auto;
        padding: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .service-section:hover { /* Changed class name here */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
        transform: translateY(-5px);
    }

    .service-section img { /* Changed class name here */
        width: 100%;
        max-width: 800px;
        height: auto;
        margin: 1rem 0;
        border-radius: 10px;
    }

    .service-section h2 { /* Changed class name here */
        color: #34495E;
        font-family: 'Montserrat', sans-serif;
    }

    .service-section h3 { /* Changed class name here */
        color: #2C3E50;
        font-weight: 700;
        margin-top: 1rem;
    }

    .service-section p { /* Changed class name here */
        color: #333;
    }

    .service-section ul { /* Changed class name here */
        margin-top: 1rem;
        list-style: disc;
        padding-left: 1.5rem;
    }

    .service-section ul li { /* Changed class name here */
        margin-bottom: 0.5rem;
    }


    /* services page ends */


        /* contact page ends */


    /* Unique Banner Style */
    .contact-banner {
        background-image: url('https://t4.ftcdn.net/jpg/04/81/72/77/240_F_481727770_1u2ylNpie8WRosMVbv1COXDnnEK6ofwh.jpg');
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        position: relative;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }

    .contact-banner h1 {
        font-size: 2.5rem;
        margin: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    .contact-banner p {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    /* Unique Contact Section Style */
    .contact-container {
        padding: 40px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 900px;
    }

    .contact-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #343a40;
    }

    .contact-details {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .detail-box {
        flex: 1 1 30%;
        text-align: center;
        padding: 20px;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        margin: 10px;
        transition: transform 0.3s;
    }

    .detail-box:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .detail-box i {
        font-size: 2rem;
        color: #007bff;
        margin-bottom: 10px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        transition: border-color 0.3s;
    }

    .contact-form input:focus,
    .contact-form textarea:focus {
        border-color: #007bff;
        outline: none;
    }

    .contact-form button {
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .contact-form button:hover {
        background-color: #0056b3;
    }

    /* Unique Footer Style */
    .contact-footer {
        text-align: center;
        padding: 20px;
        background-color: #343a40;
        color: white;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    @media (max-width: 768px) {
        .contact-details {
            flex-direction: column;
        }

        .detail-box {
            flex: 1 1 100%;
        }
    }


            /* contact page ends */



            /* career page ends */


   /* Colors */
    /* ---------------------------------------- */
    :root {
        --border: #c6c6c6;
        --border-focus: #9FB1C1;
        --brand-color: #1b3d4d;
        --booking-green: #bdcc00;
        --asphalt: #506982;
    }

    * {
        box-sizing: border-box;
    }

    .custom-page-container {
        text-align: center;
        font-family: 'Lato', sans-serif;
        background-color: #f7f7f7;
    }

    a {
        text-decoration: none;
    }

    .info-text {
        text-align: left;
    }

    /* Form Container */
    .unique-form-container {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 1.1);
        max-width: 600px;
        margin: 50px auto;
        padding: 2.5em;
    }

    .unique-form {
        padding: 0;
    }

    .unique-form-group {
        margin-bottom: 20px;
    }

    h2.unique-heading {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        text-align: left;
        color: var(--asphalt);
        border-bottom: 1px solid var(--asphalt);
        padding-bottom: 5px;
        margin-bottom: 30px;
    }

    .unique-controls {
        text-align: left;
        position: relative;
        margin-bottom: 18px;
    }

    .unique-input,
    .unique-textarea,
    .unique-select {
        padding: 14px;
        font-size: 16px;
        border: 1px solid var(--border);
        width: 100%;
        margin-bottom: 18px;
        color: #888;
        border-radius: 2px;
        transition: border-color .3s;
    }

    .unique-input:focus,
    .unique-select:focus,
    .unique-textarea:focus {
        outline: none;
        border-color: var(--border-focus);
    }

    .unique-label {
        position: absolute;
        left: 10px;
        top: 8px;
        width: 60%;
        color: #999;
        font-size: 16px;
        display: inline-block;
        padding: 4px 10px;
        transition: color .3s, top .3s;
        background-color: rgba(255, 255, 255, 1);
    }

    .unique-label.active {
        top: -25px;
        color: #555;
    }

    .unique-button {
        cursor: pointer;
        background-color: var(--brand-color);
        border: none;
        color: #fff;
        padding: 12px 0;
        width: 100%;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .unique-button:hover {
        background-color: #163a40;
    }

    .grid {
        background: white;
        margin-bottom: 20px;
    }

    @media (max-width: 760px) {
        .col-1-4 {
            width: 100%;
            padding-right: 0;
        }
    }


            /* career page ends */


            /* registration page ends */


 /* Colors */
    /* ---------------------------------------- */
    :root {
        --border: #c6c6c6;
        --border-focus: #9FB1C1;
        --brand-color: #1b3d4d;
        --booking-green: #bdcc00;
        /* Not used in CSS */
        --asphalt: #506982;
    }

    * {
        box-sizing: border-box;
    }

    .registration-container {
        text-align: center;
        font-family: 'Lato', sans-serif;
        background-color: #f7f7f7;
    }

    a {
        text-decoration: none;
    }

    .info-text {
        text-align: left;
    }

    header {
        padding: 4em 10%;
    }

    /* Form Container */
    .form-container {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 1.1);
        max-width: 600px;
        /* Adjust width as needed */
        margin: 50px auto;
        /* Center the container */
        padding: 2.5em;
        /* Increased padding inside the container */
    }

    form {
        padding: 0;
        /* Remove padding since it's now in .form-container */
    }

    .form-group {
        margin-bottom: 20px;
    }

    h2.heading {
        font-size: 20px;
        /* Slightly larger font size */
        text-transform: uppercase;
        font-weight: 300;
        text-align: left;
        color: var(--asphalt);
        border-bottom: 1px solid var(--asphalt);
        padding-bottom: 5px;
        /* Increased padding */
        margin-bottom: 30px;
    }

    .controls {
        text-align: left;
        position: relative;
        margin-bottom: 18px;
    }

    input,
    textarea,
    select {
        padding: 14px;
        /* Increased padding */
        font-size: 16px;
        border: 1px solid var(--border);
        width: 100%;
        margin-bottom: 18px;
        color: #888;
        border-radius: 2px;
        transition: border-color .3s;
    }

    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
        border-color: var(--border-focus);
    }

    label {
        position: absolute;
        left: 10px;
        /* Adjusted for better alignment */
        top: 8px;
        /* Adjusted for better alignment */
        width: 60%;
        color: #999;
        font-size: 16px;
        display: inline-block;
        padding: 4px 10px;
        transition: color .3s, top .3s;
        background-color: rgba(255, 255, 255, 1);
    }

    label.active {
        top: -25px;
        color: #555;
    }

    button {
        cursor: pointer;
        background-color: var(--brand-color);
        border: none;
        color: #fff;
        padding: 12px 0;
        /* Consistent padding */
        width: 100%;
        /* Button takes full width */
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #163a40;
    }

    .grid {
        background: white;
        margin-bottom: 20px;
    }

    @media (max-width: 760px) {
        .col-1-4 {
            width: 100%;
            padding-right: 0;
        }
    }


            /* registration page ends */
